body	{
	        background-color:AliceBlue;
		font-size:11pt;
		font-family:sans-serif;
		color:DarkSlateGray; 
	}
a       { 	color:SteelBlue;
	  	text-decoration:none;
	}
h1, h1 a {
		font-size:21pt;
		color:DarkRed;
	 }
h2 {
		font-size:15pt;
		color:DarkSlateGray;
   }
h3 {
		font-size:12pt;
		color:DarkSlateGray;
   }
#sidebar {
		font-size:10pt;
		float:left;
		width:20%;
		padding-top:10px;
		padding-bottom:10px;
		padding-left:5px;
		line-height:14pt;
		color:DarkSlateGray;
	 }
#sidebarnav {
		margin-top:10px;
		padding-bottom:10px;
	    }
#sidebarnav a {
		display:block;
		clear:both;
		padding-right:15px;
		padding-top:8px;
		height:25px;
		color:DarkSlateGray;
		text-decoration:none;
		font-size:12pt;
		font-weight:bold;
		background-color:LightSteelBlue;
		border-left:5px solid LightSteelBlue;
		margin-top:5px;
		text-align:right;
	     }
#contentarea {
		width:70%;
		padding-left:20px;
		padding-top:10px;
		padding-bottom:10px;
		float:left;
		line-height:15pt;
	     }
